<!-- sucesso.ejs -->
<!DOCTYPE html>
<html>
<head>
  <title>Sucesso!</title>
</head>
<body>
  <div class="d-flex justify-content-between fles-wrap flex-md nowrap aling-items-center pt-3 pb-2 mb-3 border-bottom">
    <h1 class="h2"  >Dashboard</h1>
<div class="btn-toolbar mb-2 mb-md 0">
    <div class="btn-group me-2">
        <a href="/add" class="btn btn-sm btn-outline-secondary">+ New User</a>
    </div>
</div>

</div>
  <script>
    alert('Usuário criado com sucesso!');
  </script>
</body>
</html>


